{% extends layout %}
{% block head_section %}
{#-
	Include something in <head />	
-#}
{% endblock head_section %}

{% block content %}
	<div class="intro">
		<div class="headings">
			<h1 class="intro__title title">Мир коммуникаций без границ</h1>
			<p class="intro__text text">Скоро связь будет повсюду, меняя жизнь даже в&nbsp;самых отдаленных уголках нашей планеты</p>
		</div>
	</div>
	<div class="container">
		<section class="profits">
			<div class="profits__inner">
				<div class="profits__item profit">
					<a href="http://www.huawei.com/minisite/russia/better-connected-world/ru/bank.html" class="profit__link">
						<img src="{{ 'profit1.jpg'|img_asset }}" alt="img" class="profit__img">
					</a>
					<p class="profit__title text"><span>Банки</span> и взаимодействие</p>
				</div>
				<div class="profits__item profit">
					<a href="http://www.huawei.com/minisite/russia/better-connected-world/ru/dortmund.html" class="profit__link">
						<img src="{{ 'profit2.jpg'|img_asset }}" alt="img" class="profit__img">
					</a>
					<p class="profit__title text"><span>Стадионы</span> и технологии</p>
				</div>
				<div class="profits__item profit">
					<a href="http://e.huawei.com/ru/solutions/industries/retail" class="profit__link">
						<img src="{{ 'profit3.jpg'|img_asset }}" alt="img" class="profit__img">
					</a>
					<p class="profit__title text"><span>Интернет-магазины</span> и онлайн-маркетинг</p>
				</div>
			</div>
		</section>
	</div>
	<div class="container">
		<section class="about">
			<div class="about__video">
				<video id="bcw-video" src="{{ 'bcw.mp4'| video_asset }}" type="video/mp4" controlsList="nodownload" muted poster="{{ 'placeholders/bcw.jpg'| img_asset}}"></video>
			</div>
			<p class="about__text text">
				Развитие человечества на&nbsp;протяжении многих тысяч лет полностью поменяло наше представление о&nbsp;коммуникации. Первые мимолетные жесты людей друг другу привели к&nbsp;возникновению наскальной живописи, которая в&nbsp;свою очередь способствовала появлению первых языков, письму и&nbsp;развитию образов мышления. Без этих этапов мы&nbsp;бы не&nbsp;пришли к&nbsp;цифровому веку, в&nbsp;котором живем сейчас. В&nbsp;независимости от&nbsp;того, как меняются способы коммуникации, причина, по&nbsp;которой мы&nbsp;общаемся, остается неизменной: забота друг о&nbsp;друге, обмен идеями и&nbsp;мыслями.
			</p>
			<p class="about__text text text--md">
				Создание мира коммуникаций без границ&nbsp;&mdash; главная цель Huawei, и&nbsp;развитие технологий компании с&nbsp;каждым годом приближает нас к&nbsp;ее&nbsp;достижению все ближе.
			</p>
		</section>
	</div>

	<section class="stories">
		<div class="headings">
			<h2 class="title">Истории о&nbsp;коммуникации без границ</h2>
		</div>

		<div class="stories__wrapper">
			<div class="stories__slider">
				{% for item in video %}
				<div class="stories__slide">
					<img src="{{ ('placeholders/' + item.name + '.jpg')|img_asset }}" alt="" data-id="{{ item.name }}" class="stories__preview">
					<div class="stories__play"></div>
				</div>
				{% endfor %}
			</div>
		</div>
		
		<div class="container container--relative">
			<div class="stories__control"></div>
		</div>
	</section>

	<div class="container">
		<section class="transform">
			<div class="headings">
				<h2 class="title">Цифровая трансформация для бизнеса, творчества и&nbsp;жизни</h2>
				<p class="text">10&nbsp;основных направлений цифровой трансформации Huawei</p>
			</div>
			<div class="transform__slider transform-slider">
				{% for item in transformSlider %}
				<div class="transform-slider__item transform-slide">
					<div class="transform-slide__content">
						<p class="transform-slide__name">{{ item.name }}</p>
						<p class="transform-slide__title">{{ item.title }}</p>
						<p class="transform-slide__text">
							{{item.text}}
						</p>
						<a src="{{item.url}}" class="transform-slide__link">Узнать больше (англ.)</a>
					</div>
					{% if item.img %}
					<img src="{{ item.img|img_asset }}" alt="Слайд" class="transform-slide__img">
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</section>
	</div>
	<div class="container">
		<section class="abilities h-clearfix">
			<div class="headings">
				<h2 class="title">Новые возможности без границ</h2>
				<p class="text">Посмотрите, как мир уже изменился благодаря технологиям Huawei.</p>
			</div>
			<div class="abilities__inner h-clearfix">
				<div class="col--lg-6 col--md-6 col--sm-6 col--xs-12">
					<div class="abilities__item ability ability--bg-orange">
						<img src="{{ 'ability1.jpg'|img_asset }}" class="ability__img">
						<div class="ability__inner ability__inner--bg-orange">
							<p class="ability__name">Стадионы</p>
							<p class="ability__info">Компания Huawei автоматизировала стадион «Спартак»</p>
							<a href="http://www.huawei.com/minisite/russia/better-connected-world/ru/dortmund.html" class="ability__more-info">Узнать больше</a>
						</div>
					</div>
				</div>
				<div class="col--lg-6 col--md-6 col--sm-6 col--xs-12">
					<div class="abilities__item ability ability--bg-green">
						<img src="{{ 'ability2.jpg'|img_asset }}" class="ability__img">
						<div class="ability__inner ability__inner--bg-green">
							<p class="ability__name">Финансы</p>
							<p class="ability__info">Модернизация ИТ-системы ООО &laquo;Общая карта&raquo;</p>
							<a href="http://www.huawei.com/minisite/russia/better-connected-world/ru/bank.html" class="ability__more-info">Узнать больше</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="abilities h-clearfix">
				<div class="headings">
					<h2 class="title">Ключевые события из&nbsp;мира коммуникаций</h2>
					<p class="text">
						Спланируйте цифровую трансформацию своего бизнеса при помощи Международного индекса развития коммуникаций&nbsp;&mdash; Global Connectivity Index.
					</p>
				</div>
				<div class="abilities__inner h-clearfix">
				<div class="col--lg-8 col--md-8 col--sm-8 col--xs-12">
					<div class="abilities__item ability ability--bg-blue">
						<img src="{{ 'ability3.jpg'|img_asset }}" class="ability__img">
						<div class="ability__inner ability__inner--bg-blue">
							<p class="ability__name">Конференция</p>
							<p class="ability__info">Партнерская конференция Huawei 2018. ENJOY GROWTH, WIN TOGETHER!</p>
							<a href="" class="ability__more-info">Узнать больше</a>
						</div>
					</div>
				</div>
				<div class="col--lg-4 col--md-4 col--sm-4 col--xs-12">
					<div class="abilities__item ability ability--bg-violet">
						<img src="{{ 'ability4.jpg'|img_asset }}" class="ability__img">
						<div class="ability__inner ability__inner--bg-violet">
							<p class="ability__name">Новости</p>
							<p class="ability__info">Huawei запускает первую в&nbsp;России OpenLab Moscow</p>
							<a href="" class="ability__more-info">Узнать больше</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<section class="events">
		<div class="events__item event">
			<div class="container">
				<div class="headings">
					<h2 class="event__title title">
						Присоединяйтесь к&nbsp;всемирной цифровой трансформации!
					</h2>
					<p class="event__text text">Изучите отчет по&nbsp;результатам исследования &laquo;Глобальный индекс сетевого взаимодействия Huawei&nbsp;&mdash; 2017&raquo; в&nbsp;России и&nbsp;мире</p>
				</div>
				<div class="event__links">
					<div class="event__link">
						<a href="http://www.huawei.com/minisite/gci/en/index.html">
							<img src="{{ 'connect-btn.png'|img_asset }}" alt="Сайт">
						</a>
						<p>Перейти на сайт с отчетом</p>
					</div>
					<div class="event__link">
						<a target="_blank" href="http://www.huawei.com/minisite/gci/files/gci_2017_whitepaper_en.pdf">
							<img src="{{ 'download-btn.png'|img_asset }}" alt="Документ">
						</a>
						<p>Загрузить документ (англ.)</p>
					</div>
				</div>
			</div>
		</div>
	</section>
		<div class="popup" id="popup" style="display: none">
			<div class="popup__wrapper">
				<video controls type="video/mp4" class="popup__video"></video>
				<span class="popup__close"></span>
			</div>
		</div>
{% endblock %}
{% block footer_section %}
	{#-
		Include something before /body	
	-#}
{% endblock footer_section %}