/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Roboto', Segoe UI, SegoeUI, Tahoma, Verdana, Arial, sans-serif;
  color: #000;
  background-color: #fff;
  line-height: 1.2;
  font-style: normal;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
img {
  max-width: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
[tabindex="-1"]:focus {
  outline: 0 !important;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.75em;
}
p {
  margin-top: 0;
  margin-bottom: 0.75em;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dd {
  margin-bottom: .5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
dfn {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: #00bcf2;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}
figure {
  margin: 0 0 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
}
caption {
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: inherit;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
@font-face {
  font-family: 'wf_segoe-ui';
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/light/latest.eot');
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/light/latest.eot?#iefix') format('embedded-opentype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/light/latest.woff') format('woff'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/light/latest.ttf') format('truetype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/light/latest.svg#web') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'wf_segoe-ui';
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semilight/latest.eot');
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semilight/latest.eot?#iefix') format('embedded-opentype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semilight/latest.woff') format('woff'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semilight/latest.ttf') format('truetype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semilight/latest.svg#web') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'wf_segoe-ui';
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/normal/latest.eot');
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/normal/latest.eot?#iefix') format('embedded-opentype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/normal/latest.woff') format('woff'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/normal/latest.ttf') format('truetype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/normal/latest.svg#web') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'wf_segoe-ui';
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/italic/latest.eot');
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/italic/latest.eot?#iefix') format('embedded-opentype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/italic/latest.woff') format('woff'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/italic/latest.ttf') format('truetype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/italic/latest.svg#web') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'wf_segoe-ui';
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semibold/latest.eot');
  src: url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semibold/latest.eot?#iefix') format('embedded-opentype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semibold/latest.woff') format('woff'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semibold/latest.ttf') format('truetype'), url('https://i.s-microsoft.com/fonts/segoe-ui/cyrillic/semibold/latest.svg#web') format('svg');
  font-weight: 600;
  font-style: normal;
}
.fixed-aspect {
  position: relative;
}
.fixed-aspect:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.fixed-aspect > div,
.fixed-aspect > iframe,
.fixed-aspect > video,
.fixed-aspect > embed,
.fixed-aspect > span,
.fixed-aspect > img,
.fixed-aspect > svg {
  position: absolute;
}
.fixed-aspect--4by3:before {
  padding-top: 75%;
}
.fixed-aspect--16by9:before {
  padding-top: 56.25%;
}
.fixed-aspect--2by1:before {
  padding-top: 50%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before,
.container:after {
  display: table;
  content: " ";
  box-sizing: border-box;
}
.container:after {
  clear: both;
}
.container--relative {
  position: relative;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  display: table;
  content: " ";
  box-sizing: border-box;
}
.row:after {
  clear: both;
}
.col--xs-1, .col--sm-1, .col--md-1, .col--lg-1, .col--xs-2, .col--sm-2, .col--md-2, .col--lg-2, .col--xs-3, .col--sm-3, .col--md-3, .col--lg-3, .col--xs-4, .col--sm-4, .col--md-4, .col--lg-4, .col--xs-5, .col--sm-5, .col--md-5, .col--lg-5, .col--xs-6, .col--sm-6, .col--md-6, .col--lg-6, .col--xs-7, .col--sm-7, .col--md-7, .col--lg-7, .col--xs-8, .col--sm-8, .col--md-8, .col--lg-8, .col--xs-9, .col--sm-9, .col--md-9, .col--lg-9, .col--xs-10, .col--sm-10, .col--md-10, .col--lg-10, .col--xs-11, .col--sm-11, .col--md-11, .col--lg-11, .col--xs-12, .col--sm-12, .col--md-12, .col--lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col--xs-1, .col--xs-2, .col--xs-3, .col--xs-4, .col--xs-5, .col--xs-6, .col--xs-7, .col--xs-8, .col--xs-9, .col--xs-10, .col--xs-11, .col--xs-12 {
  float: left;
}
.col--xs-12 {
  width: 100%;
}
.col--xs-11 {
  width: 91.66666667%;
}
.col--xs-10 {
  width: 83.33333333%;
}
.col--xs-9 {
  width: 75%;
}
.col--xs-8 {
  width: 66.66666667%;
}
.col--xs-7 {
  width: 58.33333333%;
}
.col--xs-6 {
  width: 50%;
}
.col--xs-5 {
  width: 41.66666667%;
}
.col--xs-4 {
  width: 33.33333333%;
}
.col--xs-3 {
  width: 25%;
}
.col--xs-2 {
  width: 16.66666667%;
}
.col--xs-1 {
  width: 8.33333333%;
}
.col--xs-pull-12 {
  right: 100%;
}
.col--xs-pull-11 {
  right: 91.66666667%;
}
.col--xs-pull-10 {
  right: 83.33333333%;
}
.col--xs-pull-9 {
  right: 75%;
}
.col--xs-pull-8 {
  right: 66.66666667%;
}
.col--xs-pull-7 {
  right: 58.33333333%;
}
.col--xs-pull-6 {
  right: 50%;
}
.col--xs-pull-5 {
  right: 41.66666667%;
}
.col--xs-pull-4 {
  right: 33.33333333%;
}
.col--xs-pull-3 {
  right: 25%;
}
.col--xs-pull-2 {
  right: 16.66666667%;
}
.col--xs-pull-1 {
  right: 8.33333333%;
}
.col--xs-pull-0 {
  right: auto;
}
.col--xs-push-12 {
  left: 100%;
}
.col--xs-push-11 {
  left: 91.66666667%;
}
.col--xs-push-10 {
  left: 83.33333333%;
}
.col--xs-push-9 {
  left: 75%;
}
.col--xs-push-8 {
  left: 66.66666667%;
}
.col--xs-push-7 {
  left: 58.33333333%;
}
.col--xs-push-6 {
  left: 50%;
}
.col--xs-push-5 {
  left: 41.66666667%;
}
.col--xs-push-4 {
  left: 33.33333333%;
}
.col--xs-push-3 {
  left: 25%;
}
.col--xs-push-2 {
  left: 16.66666667%;
}
.col--xs-push-1 {
  left: 8.33333333%;
}
.col--xs-push-0 {
  left: auto;
}
.col--xs-offset-12 {
  margin-left: 100%;
}
.col--xs-offset-11 {
  margin-left: 91.66666667%;
}
.col--xs-offset-10 {
  margin-left: 83.33333333%;
}
.col--xs-offset-9 {
  margin-left: 75%;
}
.col--xs-offset-8 {
  margin-left: 66.66666667%;
}
.col--xs-offset-7 {
  margin-left: 58.33333333%;
}
.col--xs-offset-6 {
  margin-left: 50%;
}
.col--xs-offset-5 {
  margin-left: 41.66666667%;
}
.col--xs-offset-4 {
  margin-left: 33.33333333%;
}
.col--xs-offset-3 {
  margin-left: 25%;
}
.col--xs-offset-2 {
  margin-left: 16.66666667%;
}
.col--xs-offset-1 {
  margin-left: 8.33333333%;
}
.col--xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col--sm-1, .col--sm-2, .col--sm-3, .col--sm-4, .col--sm-5, .col--sm-6, .col--sm-7, .col--sm-8, .col--sm-9, .col--sm-10, .col--sm-11, .col--sm-12 {
    float: left;
  }
  .col--sm-12 {
    width: 100%;
  }
  .col--sm-11 {
    width: 91.66666667%;
  }
  .col--sm-10 {
    width: 83.33333333%;
  }
  .col--sm-9 {
    width: 75%;
  }
  .col--sm-8 {
    width: 66.66666667%;
  }
  .col--sm-7 {
    width: 58.33333333%;
  }
  .col--sm-6 {
    width: 50%;
  }
  .col--sm-5 {
    width: 41.66666667%;
  }
  .col--sm-4 {
    width: 33.33333333%;
  }
  .col--sm-3 {
    width: 25%;
  }
  .col--sm-2 {
    width: 16.66666667%;
  }
  .col--sm-1 {
    width: 8.33333333%;
  }
  .col--sm-pull-12 {
    right: 100%;
  }
  .col--sm-pull-11 {
    right: 91.66666667%;
  }
  .col--sm-pull-10 {
    right: 83.33333333%;
  }
  .col--sm-pull-9 {
    right: 75%;
  }
  .col--sm-pull-8 {
    right: 66.66666667%;
  }
  .col--sm-pull-7 {
    right: 58.33333333%;
  }
  .col--sm-pull-6 {
    right: 50%;
  }
  .col--sm-pull-5 {
    right: 41.66666667%;
  }
  .col--sm-pull-4 {
    right: 33.33333333%;
  }
  .col--sm-pull-3 {
    right: 25%;
  }
  .col--sm-pull-2 {
    right: 16.66666667%;
  }
  .col--sm-pull-1 {
    right: 8.33333333%;
  }
  .col--sm-pull-0 {
    right: auto;
  }
  .col--sm-push-12 {
    left: 100%;
  }
  .col--sm-push-11 {
    left: 91.66666667%;
  }
  .col--sm-push-10 {
    left: 83.33333333%;
  }
  .col--sm-push-9 {
    left: 75%;
  }
  .col--sm-push-8 {
    left: 66.66666667%;
  }
  .col--sm-push-7 {
    left: 58.33333333%;
  }
  .col--sm-push-6 {
    left: 50%;
  }
  .col--sm-push-5 {
    left: 41.66666667%;
  }
  .col--sm-push-4 {
    left: 33.33333333%;
  }
  .col--sm-push-3 {
    left: 25%;
  }
  .col--sm-push-2 {
    left: 16.66666667%;
  }
  .col--sm-push-1 {
    left: 8.33333333%;
  }
  .col--sm-push-0 {
    left: auto;
  }
  .col--sm-offset-12 {
    margin-left: 100%;
  }
  .col--sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col--sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col--sm-offset-9 {
    margin-left: 75%;
  }
  .col--sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col--sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col--sm-offset-6 {
    margin-left: 50%;
  }
  .col--sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col--sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col--sm-offset-3 {
    margin-left: 25%;
  }
  .col--sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col--sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col--sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col--md-1, .col--md-2, .col--md-3, .col--md-4, .col--md-5, .col--md-6, .col--md-7, .col--md-8, .col--md-9, .col--md-10, .col--md-11, .col--md-12 {
    float: left;
  }
  .col--md-12 {
    width: 100%;
  }
  .col--md-11 {
    width: 91.66666667%;
  }
  .col--md-10 {
    width: 83.33333333%;
  }
  .col--md-9 {
    width: 75%;
  }
  .col--md-8 {
    width: 66.66666667%;
  }
  .col--md-7 {
    width: 58.33333333%;
  }
  .col--md-6 {
    width: 50%;
  }
  .col--md-5 {
    width: 41.66666667%;
  }
  .col--md-4 {
    width: 33.33333333%;
  }
  .col--md-3 {
    width: 25%;
  }
  .col--md-2 {
    width: 16.66666667%;
  }
  .col--md-1 {
    width: 8.33333333%;
  }
  .col--md-pull-12 {
    right: 100%;
  }
  .col--md-pull-11 {
    right: 91.66666667%;
  }
  .col--md-pull-10 {
    right: 83.33333333%;
  }
  .col--md-pull-9 {
    right: 75%;
  }
  .col--md-pull-8 {
    right: 66.66666667%;
  }
  .col--md-pull-7 {
    right: 58.33333333%;
  }
  .col--md-pull-6 {
    right: 50%;
  }
  .col--md-pull-5 {
    right: 41.66666667%;
  }
  .col--md-pull-4 {
    right: 33.33333333%;
  }
  .col--md-pull-3 {
    right: 25%;
  }
  .col--md-pull-2 {
    right: 16.66666667%;
  }
  .col--md-pull-1 {
    right: 8.33333333%;
  }
  .col--md-pull-0 {
    right: auto;
  }
  .col--md-push-12 {
    left: 100%;
  }
  .col--md-push-11 {
    left: 91.66666667%;
  }
  .col--md-push-10 {
    left: 83.33333333%;
  }
  .col--md-push-9 {
    left: 75%;
  }
  .col--md-push-8 {
    left: 66.66666667%;
  }
  .col--md-push-7 {
    left: 58.33333333%;
  }
  .col--md-push-6 {
    left: 50%;
  }
  .col--md-push-5 {
    left: 41.66666667%;
  }
  .col--md-push-4 {
    left: 33.33333333%;
  }
  .col--md-push-3 {
    left: 25%;
  }
  .col--md-push-2 {
    left: 16.66666667%;
  }
  .col--md-push-1 {
    left: 8.33333333%;
  }
  .col--md-push-0 {
    left: auto;
  }
  .col--md-offset-12 {
    margin-left: 100%;
  }
  .col--md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col--md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col--md-offset-9 {
    margin-left: 75%;
  }
  .col--md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col--md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col--md-offset-6 {
    margin-left: 50%;
  }
  .col--md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col--md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col--md-offset-3 {
    margin-left: 25%;
  }
  .col--md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col--md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col--md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col--lg-1, .col--lg-2, .col--lg-3, .col--lg-4, .col--lg-5, .col--lg-6, .col--lg-7, .col--lg-8, .col--lg-9, .col--lg-10, .col--lg-11, .col--lg-12 {
    float: left;
  }
  .col--lg-12 {
    width: 100%;
  }
  .col--lg-11 {
    width: 91.66666667%;
  }
  .col--lg-10 {
    width: 83.33333333%;
  }
  .col--lg-9 {
    width: 75%;
  }
  .col--lg-8 {
    width: 66.66666667%;
  }
  .col--lg-7 {
    width: 58.33333333%;
  }
  .col--lg-6 {
    width: 50%;
  }
  .col--lg-5 {
    width: 41.66666667%;
  }
  .col--lg-4 {
    width: 33.33333333%;
  }
  .col--lg-3 {
    width: 25%;
  }
  .col--lg-2 {
    width: 16.66666667%;
  }
  .col--lg-1 {
    width: 8.33333333%;
  }
  .col--lg-pull-12 {
    right: 100%;
  }
  .col--lg-pull-11 {
    right: 91.66666667%;
  }
  .col--lg-pull-10 {
    right: 83.33333333%;
  }
  .col--lg-pull-9 {
    right: 75%;
  }
  .col--lg-pull-8 {
    right: 66.66666667%;
  }
  .col--lg-pull-7 {
    right: 58.33333333%;
  }
  .col--lg-pull-6 {
    right: 50%;
  }
  .col--lg-pull-5 {
    right: 41.66666667%;
  }
  .col--lg-pull-4 {
    right: 33.33333333%;
  }
  .col--lg-pull-3 {
    right: 25%;
  }
  .col--lg-pull-2 {
    right: 16.66666667%;
  }
  .col--lg-pull-1 {
    right: 8.33333333%;
  }
  .col--lg-pull-0 {
    right: auto;
  }
  .col--lg-push-12 {
    left: 100%;
  }
  .col--lg-push-11 {
    left: 91.66666667%;
  }
  .col--lg-push-10 {
    left: 83.33333333%;
  }
  .col--lg-push-9 {
    left: 75%;
  }
  .col--lg-push-8 {
    left: 66.66666667%;
  }
  .col--lg-push-7 {
    left: 58.33333333%;
  }
  .col--lg-push-6 {
    left: 50%;
  }
  .col--lg-push-5 {
    left: 41.66666667%;
  }
  .col--lg-push-4 {
    left: 33.33333333%;
  }
  .col--lg-push-3 {
    left: 25%;
  }
  .col--lg-push-2 {
    left: 16.66666667%;
  }
  .col--lg-push-1 {
    left: 8.33333333%;
  }
  .col--lg-push-0 {
    left: auto;
  }
  .col--lg-offset-12 {
    margin-left: 100%;
  }
  .col--lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col--lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col--lg-offset-9 {
    margin-left: 75%;
  }
  .col--lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col--lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col--lg-offset-6 {
    margin-left: 50%;
  }
  .col--lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col--lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col--lg-offset-3 {
    margin-left: 25%;
  }
  .col--lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col--lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col--lg-offset-0 {
    margin-left: 0%;
  }
}
.svg-icon {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 16px;
  height: 16px;
  fill: #000;
}
.svg-icon__glyph {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  fill: inherit;
}
.svg-icon-store {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
.title {
  font-size: 48px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .title {
    font-size: 38px;
  }
}
@media (max-width: 480px) {
  .title {
    font-size: 26px;
  }
}
.text {
  font-size: 20px;
  font-weight: 300;
  color: #696a6d;
}
.text--md {
  font-weight: 500;
}
@media (max-width: 768px) {
  .text {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .text {
    font-size: 16px;
  }
}
.intro {
  min-height: 460px;
  background-image: url('/images/intro-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 15px;
}
.intro__title {
  font-size: 36px;
  color: #00aeef;
  text-align: center;
}
.intro__text {
  text-align: center;
  margin: 0 auto;
  max-width: 450px;
}
.about__text {
  margin-bottom: 40px;
}
.logo a {
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -ms-flex-align: center;
      align-items: center;
}
.nav {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.nav__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  min-width: 415px;
}
.nav__link {
  display: -ms-flexbox;
  display: flex;
  color: black;
  text-decoration: none;
}
.nav__link--mobile {
  display: none;
}
.nav__link:not(:last-child) {
  margin-right: 40px;
}
.nav__link:hover {
  color: #d92026;
}
.nav__link--active {
  color: #d92026;
}
@media (max-width: 768px) {
  .nav {
    position: static;
  }
  .nav__menu {
    display: none;
  }
  .nav__link {
    display: block;
  }
  .nav__link--mobile {
    display: block;
  }
  .nav__link:not(:last-child) {
    margin-right: 0;
  }
}
.header {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 90px;
  padding: 0 15px;
}
.transform-slide {
  position: relative;
  width: 100%;
  padding: 50px;
  min-height: 300px;
  outline: none;
}
.transform-slide__content {
  width: 57%;
}
.transform-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 89.5%;
  height: 100%;
  border-radius: 10px;
  background-color: #ecf1f5;
  z-index: -1;
}
.transform-slide__name {
  font-size: 16px;
}
.transform-slide__title {
  font-size: 20px;
  color: #00aeef;
}
.transform-slide__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .transform-slide__content {
    width: 89%;
  }
  .transform-slide__img {
    display: none;
  }
}
.ability {
  position: relative;
  min-height: 425px;
  border-radius: 15px;
  margin-bottom: 40px;
  padding-bottom: 50px;
  color: #fff;
}
.ability__more-info {
  position: absolute;
  bottom: 30px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.ability__img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.ability__inner {
  padding: 20px;
}
.ability--bg-orange {
  background-color: #ea5d2d;
}
.ability--bg-green {
  background-color: #378d83;
}
.ability--bg-blue {
  background-color: #00aeef;
}
.ability--bg-violet {
  background-color: #8d5fa2;
}
@media (max-width: 768px) {
  .ability {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 480px) {
  .ability {
    width: auto;
    max-width: 300px;
    min-height: 300px;
  }
}
.abilities__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.profits {
  position: relative;
  min-height: 335px;
}
.profits__inner {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 315px;
  width: 100%;
  padding: 50px;
  top: -113px;
  background-color: #fff;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
@media (max-width: 992px) {
  .profits__inner {
    padding: 50px 25px;
  }
  .profits__item {
    width: 205px;
  }
}
@media (max-width: 768px) {
  .profits__inner {
    position: static;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    box-shadow: none;
    border-radius: 0;
    padding: 50px 0;
  }
  .profits__item {
    width: auto;
  }
}
.profit__title {
  font-size: 20px;
}
.profit__title span {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  color: #00aeef;
}
.profit__link {
  display: block;
  margin-bottom: 15px;
}
.profit__link:hover {
  opacity: 0.5;
}
.headings {
  text-align: center;
  margin-bottom: 60px;
}
.events {
  margin-bottom: 100px;
}
.events__item {
  min-height: 511px;
  padding-top: 100px;
  background-image: url('../images/event-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.event__title {
  color: #fff;
}
.event__links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}
.event__link {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.event__link a {
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 20px;
}
.event__link:not(:last-child) {
  margin-right: 8.3%;
}
.footer {
  padding: 10px 0 60px 0;
}
.footer__social {
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding: 40px 0;
}
.footer__social a {
  display: inline-block;
  margin: 5px 8px;
}
.footer__copyright {
  text-align: center;
  padding-bottom: 20px;
}
.footer__copyright p {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  color: #696a6d;
}
.transform {
  margin-bottom: 100px;
}
.burger {
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 15px;
  margin-right: 40px;
}
.burger:hover {
  cursor: pointer;
}
.burger:hover button {
  background-color: #d92026;
}
.burger:hover button::before,
.burger:hover button::after {
  background-color: inherit;
}
.burger button {
  position: relative;
  width: 20px;
  height: 3px;
  line-height: 3px;
  font-size: 0;
  border: 0;
  background-color: #dcdcdc;
  cursor: pointer;
}
.burger button:focus {
  outline: none;
}
.burger button::before,
.burger button::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #dcdcdc;
}
.burger button::before {
  top: 6px;
}
.burger button::after {
  top: 12px;
}
.burger--active button {
  background-color: #d92026;
}
.burger--active button::before,
.burger--active button::after {
  background-color: inherit;
}
@media (max-width: 768px) {
  .burger {
    margin-right: 0;
  }
}
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 95%;
  min-width: 30%;
  background-color: white;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.4);
}
.submenu__link {
  padding: 15px 20px;
}
.submenu__link:hover {
  background-color: #dcdcdc;
}
.submenu__link.nav__link {
  margin: 0;
}
.submenu--active {
  display: block;
}
@media (max-width: 768px) {
  .submenu {
    width: 100%;
    right: 0;
    text-align: center;
  }
}
.stories {
  position: relative;
}
.stories__slider {
  margin-bottom: 40px;
}
.stories__slide {
  outline: none;
  margin-right: 10px;
}
.stories__control.noUi-horizontal {
  height: 3px;
  width: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  background-color: #00aeef;
}
.stories__control.noUi-horizontal .noUi-base {
  background-color: #00aeef;
}
.stories__control.noUi-horizontal .noUi-handle {
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #00aeef;
  border-radius: 50%;
  outline: none;
}
.stories__control.noUi-horizontal .noUi-handle::before,
.stories__control.noUi-horizontal .noUi-handle::after {
  display: none;
}
.transform-slider .slick-arrow {
  position: absolute;
  bottom: 5px;
  font-size: 0;
  border: none;
  width: 25px;
  height: 25px;
  border-right: 4px solid #dbe6ef;
  border-top: 4px solid #dbe6ef;
  background-color: transparent;
  z-index: 10;
  outline: none;
  cursor: pointer;
}
.transform-slider .slick-arrow:hover {
  border-color: #00aeef;
}
.transform-slider .slick-next {
  transform: rotate(45deg);
  right: 5px;
}
.transform-slider .slick-prev {
  transform: rotate(-135deg);
  right: 45px;
}
.transform-slider .slick-dots {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  bottom: -80px;
  padding: 0 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.transform-slider .slick-dots button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
  outline: none;
  color: #696a6d;
  margin-right: 25px;
  margin-bottom: 10px;
  font-weight: 300;
}
.transform-slider .slick-dots button:hover {
  transform: scale(1.1);
}
.transform-slider .slick-dots .slick-active button {
  color: #00aeef;
  text-decoration: none;
  font-weight: 500;
}
@media (max-width: 768px) {
  .transform-slider .slick-slide img {
    display: none;
  }
}
.h-clearfix:before,
.h-clearfix:after {
  display: table;
  content: " ";
  box-sizing: border-box;
}
.h-clearfix:after {
  clear: both;
}
.h-mb-50 {
  margin-bottom: -50px;
}
.h-mb-45 {
  margin-bottom: -45px;
}
.h-mb-40 {
  margin-bottom: -40px;
}
.h-mb-35 {
  margin-bottom: -35px;
}
.h-mb-30 {
  margin-bottom: -30px;
}
.h-mb-25 {
  margin-bottom: -25px;
}
.h-mb-20 {
  margin-bottom: -20px;
}
.h-mb-15 {
  margin-bottom: -15px;
}
.h-mb-10 {
  margin-bottom: -10px;
}
.h-mb-5 {
  margin-bottom: -5px;
}
.h-mb0 {
  margin-bottom: 0px;
}
.h-mb5 {
  margin-bottom: 5px;
}
.h-mb10 {
  margin-bottom: 10px;
}
.h-mb15 {
  margin-bottom: 15px;
}
.h-mb20 {
  margin-bottom: 20px;
}
.h-mb25 {
  margin-bottom: 25px;
}
.h-mb30 {
  margin-bottom: 30px;
}
.h-mb35 {
  margin-bottom: 35px;
}
.h-mb40 {
  margin-bottom: 40px;
}
.h-mb45 {
  margin-bottom: 45px;
}
.h-mb50 {
  margin-bottom: 50px;
}
.h-mt-50 {
  margin-top: -50px;
}
.h-mt-45 {
  margin-top: -45px;
}
.h-mt-40 {
  margin-top: -40px;
}
.h-mt-35 {
  margin-top: -35px;
}
.h-mt-30 {
  margin-top: -30px;
}
.h-mt-25 {
  margin-top: -25px;
}
.h-mt-20 {
  margin-top: -20px;
}
.h-mt-15 {
  margin-top: -15px;
}
.h-mt-10 {
  margin-top: -10px;
}
.h-mt-5 {
  margin-top: -5px;
}
.h-mt0 {
  margin-top: 0px;
}
.h-mt5 {
  margin-top: 5px;
}
.h-mt10 {
  margin-top: 10px;
}
.h-mt15 {
  margin-top: 15px;
}
.h-mt20 {
  margin-top: 20px;
}
.h-mt25 {
  margin-top: 25px;
}
.h-mt30 {
  margin-top: 30px;
}
.h-mt35 {
  margin-top: 35px;
}
.h-mt40 {
  margin-top: 40px;
}
.h-mt45 {
  margin-top: 45px;
}
.h-mt50 {
  margin-top: 50px;
}
.h-fz14 {
  font-size: 14px;
  font-size: 0.875rem;
}
.h-fz16 {
  font-size: 16px;
  font-size: 1rem;
}
.h-fz18 {
  font-size: 18px;
  font-size: 1.125rem;
}
.h-fz20 {
  font-size: 20px;
  font-size: 1.25rem;
}
.h-fz22 {
  font-size: 22px;
  font-size: 1.375rem;
}
.h-fz24 {
  font-size: 24px;
  font-size: 1.5rem;
}
.h-fz26 {
  font-size: 26px;
  font-size: 1.625rem;
}
.h-fz28 {
  font-size: 28px;
  font-size: 1.75rem;
}
.h-fz30 {
  font-size: 30px;
  font-size: 1.875rem;
}
.h-fz32 {
  font-size: 32px;
  font-size: 2rem;
}
.h-fz34 {
  font-size: 34px;
  font-size: 2.125rem;
}
.h-fz36 {
  font-size: 36px;
  font-size: 2.25rem;
}
.h-fz38 {
  font-size: 38px;
  font-size: 2.375rem;
}
.h-fz40 {
  font-size: 40px;
  font-size: 2.5rem;
}
.h-fz42 {
  font-size: 42px;
  font-size: 2.625rem;
}
.h-fz44 {
  font-size: 44px;
  font-size: 2.75rem;
}
.h-fz46 {
  font-size: 46px;
  font-size: 2.875rem;
}
.h-fz48 {
  font-size: 48px;
  font-size: 3rem;
}
.h-fz50 {
  font-size: 50px;
  font-size: 3.125rem;
}
.h-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
