<div class="container">
  <div class="footer">
    <div class="footer__social">
      <a href="https://vk.com/huaweirussiaofficial">
        <img class="" src="{{ 'vk.png'|img_asset }}">
      </a>
      <a href="https://www.facebook.com/huaweirus">
        <img class="" src="{{ 'facebook.png'|img_asset }}">
      </a>
      <a href="https://www.youtube.com/channel/UChz4KRFfkJMfezuZKoEpa8A?guided_help_flow=3">
        <img class="" src="{{ 'youtube.png'|img_asset }}">
      </a>
      <a href="https://twitter.com/huaweirus">
        <img class="" src="{{ 'twitter.png'|img_asset }}">
      </a>
      <a href="https://www.linkedin.com/company/huawei-russia">
        <img class="" src="{{ 'linkedin.png'|img_asset }}">
      </a>
      <a href="https://habrahabr.ru/company/huawei/blog/">
        <img class="" src="{{ 'habrahabr.png'|img_asset }}">
      </a>
      <a href="http://www.slideshare.net/HuaweiRus">
        <img class="" src="{{ 'slideshare.png'|img_asset }}">
      </a>
    </div>
    <div class="footer__copyright">
      <p>Copyright © 2018 Huawei Technologies Co.,Ltd.</p>
    </div>
  </div>
</div>