.ability{
	min-height: 425px;
	border-radius: 15px;
	margin-bottom: 40px;

	&--col-6 {
		flex-basis: 47.91%;
	}

	&--col-8 {
		flex-basis: 64.58%;
	}

	&--col-4 {
		flex-basis: 31.26%;
	}

	&__img {
		max-width: 100%;
		height: auto;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	&__content {
		padding: 20px;
	}

	&--bg-orange {
		background-color: #ea5d2d;
	}

	&--bg-green {
		background-color: #378d83;
	}

	&--bg-blue {
		background-color: #00aeef;
	}

	&--bg-violet {
		background-color: #8d5fa2;
	}
}